@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  box-sizing: border-box;
  font-family: "Spectral SC";
}

body::before {
  content: ''; /* Required for pseudo-elements */
  position: fixed; /* Positions the pseudo-element relative to the body */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/Spiderweb_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  opacity: 0.7;
  z-index: -1;
}

.redText {
  color: #780606;
  font-weight: 900;
  filter: drop-shadow(0 0 0.1875rem #000000);
}

/* Container for the entire animation */
.spider-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 3.125rem; /* Adjust to your logo's size */
  height: 3.125rem; /* Adjust to your logo's size */
  margin: 3.125rem auto; /* Center the animation */
  overflow: visible; /* Allows the trail to extend beyond the container */
  z-index: 1;
  pointer-events: none;
}

.spider-web {
  width: 6.25rem;
  height: 6.25rem;
  position: fixed;
  top: -0.325rem;
  left: 0;
  z-index: 2;
}

/* Style the spider logo */
.spider-logo {
  width: 3.125rem;
  height: 3.125rem;
  position: fixed;
  top: 0.3125rem;
  left: 0.3125rem;
  animation: spin-and-drop 3s ease-in-out forwards; /* 3-second animation, keeps final state */
  z-index: 3;
  filter: drop-shadow(0 0 0.1875rem #000000);
  transform: translateY(9.375rem) rotate(180deg); /* final resting state */
  transition: transform 0.3s ease-in-out;
}

/* Define the keyframes for the main spin and drop animation */
@keyframes spin-and-drop {
  0% {
    transform: translateY(0) rotate(0deg); /* Start above the viewport, no spin */
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    transform: translateY(0) rotate(180deg); /* At midpoint, logo drops and spins 180 */
  }
  80% {
    transform: translateY(9.375rem) rotate(180deg);
  }
  90% {
    transform: translateY(9.25rem) rotate(180deg);
  }
  100% {
    transform: translateY(9.375rem) rotate(180deg); /* Logo continues to drop past its original position */
  }
}

/* Create the trail effect with a pseudo-element */
.spider-container::after {
  content: '';
  position: fixed;
  left: 1.75rem;
  width: 0.125rem;
  background: #ececec; /* Color of the trail */
  opacity: 1;
  animation: trail-drop 2.2s ease-in-out forwards;
  animation-delay: 1.5s;
  box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.6); /* glowing effect */
  z-index: 1;
}

/* Define keyframes for the trail animation */
@keyframes trail-drop {
  0% {
    height: 0;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    height: 7.8125rem; /* Length of the trail during the drop */
    opacity: 1;
  }
  100% {
    height: 7.8125rem;
    opacity: 1;
  }
}

.navbar {
  background-color: #780606;
  font-family: "Cinzel Decorative";
  box-shadow: rgba(0, 0, 0, 0.25) 0 3.375rem 3.4375rem, rgba(0, 0, 0, 0.12) 0 -0.75rem 1.875rem, rgba(0, 0, 0, 0.12) 0 0.25rem 0.375rem, rgba(0, 0, 0, 0.17) 0 0.75rem 0.8125rem, rgba(0, 0, 0, 0.09) 0 -0.1875rem 0.3125rem;
}

.navbar-brand {
  margin-left: 4.0625rem;
}

.navbar-header {
  font-size: 2rem;
  font-weight: 900;
  padding-top: .5rem;
  filter: drop-shadow(0 0 0.1875rem #ececec);
}

.nav-link {
  color: #000000;
  font-family: "Spectral SC";
  font-size: 1.25rem;
  font-weight: 900;
}

.nav-link.active {
  color: #ececec !important;
  text-decoration: underline 0.125rem;
  text-decoration-color: #ececec;
  text-underline-offset: 0.5rem;
  font-size: 1.375rem;
  font-weight: 600;
  filter: drop-shadow(0 0 0.1875rem #000000);
}

.navbar-toggler {
  border: .0625rem solid #252525;
  box-shadow: rgba(0, 0, 0, 0.02) 0 0.0625rem 0.1875rem 0, rgba(27, 31, 35, 0.15) 0 0 0 0.0625rem;
}

.custom-header {
  background-color: #252525;
  color: #ececec;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0 3.375rem 3.4375rem, rgba(0, 0, 0, 0.12) 0 -0.75rem 1.875rem, rgba(0, 0, 0, 0.12) 0 0.25rem 0.375rem, rgba(0, 0, 0, 0.17) 0 0.75rem 0.8125rem, rgba(0, 0, 0, 0.09) 0 -0.1875rem 0.3125rem;
}

.custom-header h1 {
  font-family: "Cinzel Decorative";
  text-shadow: -0.125rem -0.125rem 0 #000, 0.125rem -0.125rem 0 #000, -0.125rem 0.125rem 0 #000, 0.125rem 0.125rem 0 #000;
}

.custom-header img {
  filter: drop-shadow(0 0 0.1875rem #000000);
}

.custom-header p {
  font-size: 1.25rem;
  text-shadow: -0.125rem -0.125rem 0 #000, 0.125rem -0.125rem 0 #000, -0.125rem 0.125rem 0 #000, 0.125rem 0.125rem 0 #000;
}

.custom-header p.lead {
  color: #780606;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 900;
  text-shadow: -0.125rem -0.125rem 0 #000, 0.125rem -0.125rem 0 #000, -0.125rem 0.125rem 0 #000, 0.125rem 0.125rem 0 #000;
}

.custom-header label {
  text-shadow: -0.125rem -0.125rem 0 #000, 0.125rem -0.125rem 0 #000, -0.125rem 0.125rem 0 #000, 0.125rem 0.125rem 0 #000;
}

.custom-header .disclaimer {
  font-size: 1rem;
  text-shadow: -0.125rem -0.125rem 0 #000, 0.125rem -0.125rem 0 #000, -0.125rem 0.125rem 0 #000, 0.125rem 0.125rem 0 #000;
}

.custom-header .btn {
  margin: 2rem;
  background-color: #780606;
  color: #ececec;
  box-shadow: rgba(0, 0, 0, 0.25) 0 3.375rem 3.4375rem, rgba(0, 0, 0, 0.12) 0 -0.75rem 1.875rem, rgba(0, 0, 0, 0.12) 0 0.25rem 0.375rem, rgba(0, 0, 0, 0.17) 0 0.75rem 0.8125rem, rgba(0, 0, 0, 0.09) 0 -0.1875rem 0.3125rem;
  text-shadow: -0.125rem -0.125rem 0 #000, 0.125rem -0.125rem 0 #000, -0.125rem 0.125rem 0 #000, 0.125rem 0.125rem 0 #000;
}

@media screen and (max-width: 36rem) {
  .spider-logo {
    filter: drop-shadow(0 0 0.1875rem #ffffff);
  }
  
  .navbar-header {
    font-size: 1.5rem;
  }

  .custom-header {
    width: 100%;
    font-size: 1rem;
  }

  .custom-header h1 {
    font-family: "Cinzel Decorative";
    padding: 0.625rem;
  }

  .custom-header p {
    font-size: 1.125rem;
  }

  .custom-header p.lead {
    font-size: 1.5rem;
    padding: 0 0.625rem;
  }

  .custom-header .disclaimer {
    font-size: 0.8rem;
  }

  .custom-header btn {
    margin: 1rem;
  }
}

.modal-header, .modal-footer {
  background-color: #780606;
  color: #ececec;
}

.modal-body {
  background-color: #252525;
  color: #ececec;
}

.modal .btn {
  background-color: #252525;
  color: #ececec;
}

.friend-card {
  max-width: 37.5rem
}

.friend-card .mutual-friends {
  margin-left: 0.625rem;
}

.friend-card .mutual-friends img {
  border-radius: 50%;
  margin-left: -0.625rem;
}

@media screen and (max-width: 768px) {
  #category-section {
    margin-bottom: 1rem;
  }

  .friend-card {
    text-align: center;
    padding-top: 1em;
    margin: auto;
    max-width: 18.75rem
  }

  .friend-card img.rounded-start {
    width: 6.25rem !important;
    border-radius: 50% !important;
  }

  .friend-card .friend-name {
    flex-direction: column;
  }
  
  .friend-card .card-text {
    padding-bottom: 0.5em;
  }

  .friend-card .mutual-friends {
    padding-bottom: 1em;
  }
}