@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  box-sizing: border-box;
  font-family: "Spectral SC";
}

body::before {
  content: ''; /* Required for pseudo-elements */
  position: fixed; /* Positions the pseudo-element relative to the body */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/Spiderweb_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  opacity: 0.7;
  z-index: -1;
}

.redText {
  color: #780606;
  font-weight: 900;
  filter: drop-shadow(0 0 0.1875rem #000000);
}

.bgRed {
  background-color: #780606;
  color:#ececec
}

.greenText {
  color:green;
  font-weight: 900;
  font-family: "Cinzel Decorative";
  filter: none;
}

.negTerms {
  filter: none;
  font-family: "Spectral SC";
}

/* Container for the entire animation */
.spider-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 3.125rem; /* Adjust to your logo's size */
  height: 3.125rem; /* Adjust to your logo's size */
  margin: 3.125rem auto; /* Center the animation */
  overflow: visible; /* Allows the trail to extend beyond the container */
  z-index: 1;
  pointer-events: none;
}

.spider-web {
  width: 6.25rem;
  height: 6.25rem;
  position: fixed;
  top: -0.325rem;
  left: 0;
  z-index: 2;
}

/* Style the spider logo */
.spider-logo {
  width: 3.125rem;
  height: 3.125rem;
  position: fixed;
  top: 0.3125rem;
  left: 0.3125rem;
  animation: spin-and-drop 3s ease-in-out forwards; /* 3-second animation, keeps final state */
  z-index: 3;
  filter: drop-shadow(0 0 0.1875rem #000000);
  transform: translateY(9.375rem) rotate(180deg); /* final resting state */
  transition: transform 0.3s ease-in-out;
}

/* Define the keyframes for the main spin and drop animation */
@keyframes spin-and-drop {
  0% {
    transform: translateY(0) rotate(0deg); /* Start above the viewport, no spin */
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    transform: translateY(0) rotate(180deg); /* At midpoint, logo drops and spins 180 */
  }
  80% {
    transform: translateY(9.375rem) rotate(180deg);
  }
  90% {
    transform: translateY(9.25rem) rotate(180deg);
  }
  100% {
    transform: translateY(9.375rem) rotate(180deg); /* Logo continues to drop past its original position */
  }
}

/* Create the trail effect with a pseudo-element */
.spider-container::after {
  content: '';
  position: fixed;
  left: 1.75rem;
  width: 0.125rem;
  background: #ececec; /* Color of the trail */
  opacity: 1;
  animation: trail-drop 2.2s ease-in-out forwards;
  animation-delay: 1.5s;
  box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.6); /* glowing effect */
  z-index: 1;
}

/* Define keyframes for the trail animation */
@keyframes trail-drop {
  0% {
    height: 0;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    height: 7.8125rem; /* Length of the trail during the drop */
    opacity: 1;
  }
  100% {
    height: 7.8125rem;
    opacity: 1;
  }
}

.navbar {
  background-color: #780606;
  font-family: "Cinzel Decorative";
  box-shadow: rgba(0, 0, 0, 0.25) 0 3.375rem 3.4375rem, rgba(0, 0, 0, 0.12) 0 -0.75rem 1.875rem, rgba(0, 0, 0, 0.12) 0 0.25rem 0.375rem, rgba(0, 0, 0, 0.17) 0 0.75rem 0.8125rem, rgba(0, 0, 0, 0.09) 0 -0.1875rem 0.3125rem;
}

.navbar-brand {
  margin-left: 4.0625rem;
}

.navbar-header {
  font-size: 2rem;
  font-weight: 900;
  padding-top: .5rem;
  filter: drop-shadow(0 0 0.1875rem #ececec);
}

.nav-link {
  color: #000000;
  font-family: "Spectral SC";
  font-size: 1.25rem;
  font-weight: 900;
}

.nav-link.active {
  color: #ececec !important;
  text-decoration: underline 0.125rem;
  text-decoration-color: #ececec;
  text-underline-offset: 0.5rem;
  font-size: 1.375rem;
  font-weight: 600;
  filter: drop-shadow(0 0 0.1875rem #000000);
}

.navbar-toggler {
  border: .0625rem solid #252525;
  box-shadow: rgba(0, 0, 0, 0.02) 0 0.0625rem 0.1875rem 0, rgba(27, 31, 35, 0.15) 0 0 0 0.0625rem;
}

.custom-header {
  background-color: #252525;
  color: #ececec;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0 3.375rem 3.4375rem, rgba(0, 0, 0, 0.12) 0 -0.75rem 1.875rem, rgba(0, 0, 0, 0.12) 0 0.25rem 0.375rem, rgba(0, 0, 0, 0.17) 0 0.75rem 0.8125rem, rgba(0, 0, 0, 0.09) 0 -0.1875rem 0.3125rem;
}

.custom-header h1 {
  font-family: "Cinzel Decorative";
  text-shadow: -0.125rem -0.125rem 0 #000, 0.125rem -0.125rem 0 #000, -0.125rem 0.125rem 0 #000, 0.125rem 0.125rem 0 #000;
}

.custom-header .divider {
  filter: drop-shadow(0 0 0.1875rem #000000);
}

.custom-header p {
  font-size: 1.25rem;
}

.custom-header p.lead {
  color: #780606;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 900;
  text-shadow: -0.125rem -0.125rem 0 #000, 0.125rem -0.125rem 0 #000, -0.125rem 0.125rem 0 #000, 0.125rem 0.125rem 0 #000;
}

.custom-header .tab-content p.lead {
  text-shadow: none;
}

.custom-header label {
  text-shadow: -0.125rem -0.125rem 0 #000, 0.125rem -0.125rem 0 #000, -0.125rem 0.125rem 0 #000, 0.125rem 0.125rem 0 #000;
}

.custom-header .disclaimer {
  font-size: 1rem;
  text-shadow: -0.125rem -0.125rem 0 #000, 0.125rem -0.125rem 0 #000, -0.125rem 0.125rem 0 #000, 0.125rem 0.125rem 0 #000;
}

.custom-header .btn {
  margin: 2rem;
  background-color: #780606;
  color: #ececec;
  box-shadow: rgba(0, 0, 0, 0.25) 0 3.375rem 3.4375rem, rgba(0, 0, 0, 0.12) 0 -0.75rem 1.875rem, rgba(0, 0, 0, 0.12) 0 0.25rem 0.375rem, rgba(0, 0, 0, 0.17) 0 0.75rem 0.8125rem, rgba(0, 0, 0, 0.09) 0 -0.1875rem 0.3125rem;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-item button {
  color:#ececec;
  filter: none;
}

.nav-tabs .nav-item .nav-link {
  color:#ececec;
  margin-bottom: 0;
  border-bottom: 0;
}

.nav-tabs .nav-item .nav-link.active {
  background-color: #780606;
  border-bottom: none;
  margin-bottom: -1px;
}

.custom-header .tab-content {
  border: .0625rem solid #ececec;
  border-top: .3125rem solid #ececec;
  border-radius: 0.375rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0 3.375rem 3.4375rem, rgba(0, 0, 0, 0.12) 0 -0.75rem 1.875rem, rgba(0, 0, 0, 0.12) 0 0.25rem 0.375rem, rgba(0, 0, 0, 0.17) 0 0.75rem 0.8125rem, rgba(0, 0, 0, 0.09) 0 -0.1875rem 0.3125rem;
  margin-top: -.3125rem;
}

.modal-header, .modal-footer {
  background-color: #780606;
  color: #ececec;
}

.modal-body {
  background-color: #252525;
  color: #ececec;
}

.modal .btn {
  background-color: #252525;
  color: #ececec;
}

.contract-card {
  max-width: 50rem;
  border: 5px solid black;
  background-color: #ececec;
}

.contract-card img {
  filter: grayscale(100%) !important;
  border: .0625rem solid black;
}

.contract-card .target-details {
  background-color: #000;
  color: #ececec;
}

.contract-card .card-body {
  border-left: 5px solid black;
}

.contract-card .associate-accomplices {
  margin-left: 0.625rem;
}

.contract-card .associate-accomplices img {
  border-radius: 50%;
  margin-left: -0.625rem;
  filter: none;
  box-shadow: none;
}

@media screen and (max-width: 48rem) {
  .spider-logo {
    filter: drop-shadow(0 0 0.1875rem #ffffff);
  }
  
  .navbar-header {
    font-size: 1.5rem;
  }

  .custom-header {
    width: 100%;
    font-size: 1rem;
    padding: 0;
  }

  #contractBackground {
    width: 90%;
  }

  #contractPage {
    width: 98%;
    font-size: 1rem;
    padding: 1rem !important;
  }
  .custom-header h1 {
    font-family: "Cinzel Decorative";
    padding-bottom: 0.625rem;
  }

  .custom-header p {
    font-size: 1.125rem;
  }

  .custom-header p.lead {
    font-size: 1.5rem;
    padding: 0 0.625rem;
  }

  .custom-header .disclaimer {
    font-size: 0.8rem;
  }

  .custom-header btn {
    margin: 1rem;
  }

  .custom-header .tab-content {
    margin-top: -0.0625rem;
  }

  .nav-tabs .nav-item {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
    width: 100%;
  }

  .nav-tabs .nav-item .nav-link {
    font-size: 1rem;
  }

  .nav-tabs .nav-item:has(.nav-link.active) {
    order: 4 !important;
    display: flex;
    width: 100%;
    opacity: 1;
    transform: translateY(0.25rem);
  }
  
  .contract-card {
    text-align: left;
    margin: auto;
  }

   .contract-card .target-details {
    display: flex;
    flex-direction: row;
  }

  .contract-card .target-details img {
    width: 6.25rem !important;
  }

  .contract-card .target-details p {
    font-size: .65rem !important;
    margin: auto;
  }

  .contract-card .card-body {
    border-top: .3125rem solid black;
    border-left: none;
    width: 100%;
    padding: .5rem;
  }

  .contract-card .accomplice-name h5 {
    font-size: 0.65rem !important;
  }

  .contract-card small {
    font-size: 0.7rem !important;
  }

  .contract-card .accomplice-name small {
    float: right;
  }

  .contract-card .associate-accomplices {
    font-size: 0.65rem;
  }

  .contract-card .associate-accomplices img {
    width: 25px;
    height: 25px;
  }

  .contract-card .card-text {
    font-size: 0.9rem !important;
  }

  .contract-card button {
    padding: 0.5rem;
    font-size: 0.65rem;
  }
}