body {
  background-image: linear-gradient(to bottom right, rgb(0, 225, 241), rgb(16, 180, 235), rgb(114, 222, 255), rgb(0, 195, 255), rgb(114, 222, 255), rgb(0, 225, 241), rgb(16, 180, 235));
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

nav {
  font-weight: 900;
}

.no-wrap {
  white-space: nowrap;
}

.list-group {
  font-size: .9rem;
  width: 50%;
}

.list-group-item {
  padding: .3rem;
}

@media screen and (max-width: 48rem) {
  .container {
    flex-direction: column;
  }
  .list-group {
    width: 100%;
    font-size: .7rem;
  }
  #big-brand-logo {
    padding-bottom: 3rem;
  }
}